*
  padding: 0px
  margin: 0px

ul li
  list-style: none

.clear
  clear: both

.nav li
  float: left

#banner
  margin-top: 90px

.banner img
  width: 100%

.row
  margin: 0px

.row .col-lg-4
  padding: 0px

#text
  margin-top: 60px
  font-family: "微软雅黑"
  color: #8C8C8C
  line-height: 25px

#yuan li
  margin-top: 20px
  width: 130px
  height: 130px
  border-radius: 50%
  border: 1px solid #2AABD2
  float: left
  margin-left: 20px

#yuan li div
  color: #2AABD2
  font-size: 18px
  font-family: "微软雅黑"

#yuan li span
  margin-top: 25px
  font-size: 40px

#img-fixd
  width: 100%
  height: 400px
  overflow: hidden
  margin-top: 80px

#img-fixd2
  width: 100%
  height: 1000px
  position: relative
  background: url(../index-img/lab.jpg)no-repeat fixed

#img-fixd2 img
  width: 100%

#img-fixd3
  position: absolute
  width: 100%
  background: rgba(102,205,170,0.3)
  top: 0px
  bottom: 0px

.banner .col-lg-4
  position: relative
  transition: all 0.4s

.banner  h1
  position: absolute
  top: 28%
  left: 44%
  color: #fff
  z-index: 2
  font-family: "bodoni mt black"
  transition: all 0.4s

.banner .col-lg-4 p
  margin-top: 70px

.img-txt
  position: absolute
  top: 20%
  left: 20%
  color: #fff
  border: 1px solid #fff
  width: 0px
  height: 0px
  transition: all 0.8s

#box li
  border: 1px solid turquoise

.img-box
  position: absolute
  transform: scale(0)
  transition: all 1s

.bggg
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: rgba(0,0,0,0.0)
  transition: all 0.8s

.banner .col-lg-4:hover h1
  top: 20%
  transition: all 0.4s

.banner .col-lg-4:hover .img-box
  top: 0px
  bottom: 0px
  transform: scale(1)
  width: 100%
  transition: all 1s

.banner .col-lg-4:hover .bggg
  background: rgba(0,0,0,0.7)
  transition: all 0.8s

.banner .col-lg-4:hover .img-txt
  width: 400px
  height: 220px
  transition: all 0.6s

.txt-h1
  color: #666666
  font-family: "blackadder itc"

.txt-p
  color: #666666
  font-size: 18px

#text-1
  margin-top: 50px
  padding-left: 50px
  padding-right: 50px

#text-1 .col-lg-3 img
  width: 100%

#text-1 .col-lg-6
  margin-top: 20px

#text-1 .col-lg-6 img
  width: 140px
  float: left

.text
  width: 80%
  float: left
  margin-top: 5px
  margin-left: 10px
  line-height: 28px
  font-size: 16px

.text span
  font-weight: bold
  color: #666666

#img-foter
  padding-left: 65px
  padding-right: 65px

#img-foter .col-lg-3
  position: relative
  overflow: hidden

#img-foter .col-lg-3 .suofang
  width: 100%
  overflow: hidden

#img-foter .col-lg-3 .suofang img
  width: 100%
  transform: scale(1.2)
  transition: all 0.2s

#img-foter .col-lg-3:hover img
  transform: scale(1)
  transition: all 0.2s

.heikuang
  width: 100%
  height: 100%
  transform: scale(0.8)
  background: rgba(0,0,0,0)
  position: absolute
  left: 0px
  top: 0px

#img-foter .col-lg-3:hover .heikuang
  transform: scale(0.7,0.8)
  background: rgba(0,0,0,0.4)
  transition: all 0.2s

.hei-txt1
  color: #fff
  text-align: center
  font-size: 26px
  font-weight: bold
  line-height: 40px
  margin-top: -200px

.hei-txt2
  color: #fff
  text-align: center
  font-size: 26px

#img-foter .col-lg-3:hover .hei-txt1
  margin-top: 40px

