<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    	<link rel="stylesheet" href="../../../public/css/css.css" />
		<title>7手房</title>
	</head>
	<body>
		<div class="heads02">
			<span class="place-name02">上海</span>
			<div class="heades-box02"><input class="heades-input02" type="text" placeholder="挑好房,上7手房" /></div>
		</div>
		
		
	</body>
</html>
