<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    	<link rel="stylesheet" href="../../../public/css/css.css" />
		<title>7手房</title>
	</head>
	<body>
		<div class="search-bg">
			<div class="search-head">
				<div class="search-box02">
					<input class="search-input02" type="text" placeholder="挑好房,上7手房" />
					<span class="search-quxiao">取消</span>
				</div>
			</div>
			<div class="search-txt">
					<div class="search-txt1">最近搜索</div>
					<div class="search-txt2">清除</div>
			</div>
			<div class="search-footer">
				<div class="search-footer1">创意产业园</div>
				<div class="search-footer1">陆家嘴</div>
			</div>
		</div>
		
		
	</body>
</html>
