<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,height=device-height, initial=scale=1.0"/>
		<title></title>
		<link rel="stylesheet" type="text/css" href="./public/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="./public/css/style.css"/>
		
		<title></title>
	</head>

	<body>
		<div class="nav navbar-default navbar-fixed-top"  style=" background: rgba(0,0,0,0.7);">
			<div class="container">
				<div class="nav navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="btn"><img src="./public/img/index-img/logo.png"></a>
				</div>
				<div id="mynav" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right btn">
						<li class="active">
							<a style="background: rgba(255,255,255,0.7);" href="">Home</a>
						</li>
						<li>
							<a href="">About</a>
						</li>
						<li>
							<a href="">Parthers</a>
						</li>
						<li>
							<a href="">Contach</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="row banner" id="banner">
			<div class="col-lg-4">
				<img src="./public/img/index-img/1_002.jpg"/>
				<h1>NATURE</h1>
					<div class="bggg"></div>
					<div class="img-box">
						<div class="img-txt text-center">
							<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
						</div>	
					</div>
				
			</div>
			
			<div class="col-lg-4">
				<img src="./public/img/index-img/2_002.jpg"/>
				<h1>NATURE</h1>
				<div class="bggg"></div>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/3_003.jpg"/>
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/4.jpg" />
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/5.jpg"  />
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/6.jpg"/>
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
		
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/7.jpg"  />
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/8_002.jpg" />
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="bggg"></div>
				<img src="./public/img/index-img/9.jpg"/>
				<h1>NATURE</h1>
				<div class="img-box">
					<div class="img-txt text-center">
						<p>LILY LIKES TO PLAY WITH CRAYONS AND PENCILS VIEW MORE</p>
					</div>	
				</div>
			</div>
		</div>
		


		<div class="row" id="text">
			<div class="container">
				<h1 class="text-center">Creative digital agency based on London</h1>
				<div class="col-lg-6">
					<h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Design</h3>
					<p>Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs,
						 lead by passionate and uber progressive team that lives and breathes design. Creative digital
						  agency for sleek and sophisticated solutions for mobile, websites and software designs.
					</p>
				</div>
				<div class="col-lg-6">
					<h3><span class="glyphicon glyphicon-retweet"></span>&nbsp;&nbsp;&nbsp;Frontend & Backend Development</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						 been the industry standard dummy text ever since the 1500s, when an unknown printer took a
						  galley of type and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
			
			<div> 
				<div class="row">
				<div class="container">
					<h1 class="text-center" style="margin-top: 100px;">Process</h1>
					<div class="col-lg-12">
						<ul id="yuan">
							<li><div class="text-center"><span class="glyphicon glyphicon-time"></span></div>
								<div class="text-center">Research</div>
							</li>
							<li><div class="text-center"><span class="glyphicon glyphicon-picture"></span></div>
								<div class="text-center">Plan</div>
							</li>
							<li><div class="text-center"><span class="glyphicon glyphicon-usd"></span></div>
								<div class="text-center">Develop</div>
							</li>
							<li><div class="text-center"><span class="glyphicon glyphicon-pencil"></span></div>
								<div class="text-center">Integration</div>
							</li>
							<li><div class="text-center"><span class="glyphicon glyphicon-cloud"></span></div>
								<div class="text-center">Deliver</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			
			<div id="img-fixd">
				<div id="img-fixd2">
					<div id="img-fixd3">
						
					</div>
				</div>
			</div>
			
			
			<div class="row" id="text-1">
					<div class="col-lg-12">
						<h1 class="text-center  txt-h1">Some of our happy clients</h1>
					</div>
					<div class="col-lg-3">
						<img src="./public/img/index-img/1.jpg"/>
						<img src="./public/img/index-img/2_003.jpg"/>
					</div>
					<div class="col-lg-3">
						<img src="./public/img/index-img/3.jpg"/>
						<img src="./public/img/index-img/4_002.jpg"/>
					</div>
					<div class="col-lg-6">
						<div class="carousel slide"  id="box" data-ride="carousel"> 
							<ul class="carousel-indicators">
								<li data-target="#box" data-slide-to="0"></li>
								<li data-target="#box" data-slide-to="1"></li>
								<li data-target="#box" data-slide-to="2"></li>
							</ul>
				
							<div class="carousel-inner">
								<div class="item active">
									<img class="img-circle" src="./public/img/index-img/1_003.jpg"/>
									<div class="text">
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
											 was born and I will give you a complete account of the system, and expound the actual teachings of the
											  great explorer of the truth, the master-builder of human happiness.
										</p>
										<p>Angel Smith-<span>eshop Canada</span></p>
									</div>
								</div>
								
								<div class="item">
									<img class="img-circle" src="./public/img/index-img/2.jpg"/>
									<div class="text">
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
											 was born and I will give you a complete account of the system, and expound the actual teachings of the
											  great explorer of the truth, the master-builder of human happiness.
										</p>
										<p>Angel Smith-<span>eshop Canada</span></p>
									</div>
								</div>
								
								<div class="item">
									<img class="img-circle" src="./public/img/index-img/3_002.jpg"/>
									<div class="text">
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
											 was born and I will give you a complete account of the system, and expound the actual teachings of the
											  great explorer of the truth, the master-builder of human happiness.
										</p>
										<p>Angel Smith-<span>eshop Canada</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-center txt-h1"style="margin-top: 60px;">Our team</h1>
						<p class="text-center  txt-p"style="margin-top: 30px;">Our creative team that is making everything possible</p>
					</div>
				</div>
				
				<div class="row" id="img-foter">
					<div class="col-lg-3">
						<div class="suofang">
							<img src="./public/img/index-img/8.jpg"/>
							<div class="heikuang">
								<div class="hei-txt1">BARBARA HUSTO</div>
								<div class="hei-txt2">SENIOR DESIGNER</div>
								<div class="hei-txt3"><span><img src=""/></span></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="suofang">
							<img src="./public/img/index-img/10_002.jpg"/>
							<div class="heikuang">
								<div class="hei-txt1">BARBARA HUSTO</div>
								<div class="hei-txt2">SENIOR DESIGNER</div>
								<div class="hei-txt3"><span><img src=""/></span></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="suofang">
							<img src="./public/img/index-img/12.jpg"/>
							<div class="heikuang">
								<div class="hei-txt1">BARBARA HUSTO</div>
								<div class="hei-txt2">SENIOR DESIGNER</div>
								<div class="hei-txt3"><span><img src=""/></span></div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="suofang">
							<img src="./public/img/index-img/17.jpg"/>
							<div class="heikuang">
								<div class="hei-txt1">BARBARA HUSTO</div>
								<div class="hei-txt2">SENIOR DESIGNER</div>
								<div class="hei-txt3"><span><img src=""/></span></div>
							</div>
						</div>
					</div>
				</div>
		<script src="./public/js/spaceJS/jquery-1.12.3.min.js"></script>
		<script src="./public/js/spaceJS/bootstrap.min.js"></script>
	</body>
	<!--<script>
		$(document).scroll(function(){
			for(var i = 0;i < $("#banner .col-lg-4").length; i++){
				var colimg = $("#banner .col-lg-4").eq(i);
				if($(document).scrollTop() > colimg.offsetHeight/2){
					 colimg.animate({
			          marginTop:-50
			        }, 50,function(){
			         colimg.animate({
			         	marginTop:0
			         },50 )
			      
			      })
				}
			}
		})
	</script>-->
</html>

