<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    	<link rel="stylesheet" href="../public/css/login/index.css" />
		<title>好来窝 - 杭州摆摆网络科技有限公司</title>
	</head>
	<body>
		<div class="heads">
			<span class="place-name">上海</span>
			<span class="heads-title">二手房</span>
		</div>
		
		<div class="search-box">
        	<div class="search-input"><i class="icon-search"></i><input class="sousuo" placeholder="挑好房,上二手房"></input></div>
    	</div>
		
		<div class="banner">
	        <div class="banner-box">
	            <div class="banner-img"></div>
	            <div class="banner-img"></div>
	            <div class="banner-img"></div>
	            <div class="banner-img"></div>
	        </div>
	        <div class="point-box">
	            <span class="point-block active"></span><span class="point-block"></span><span class="point-block"></span><span class="point-block"></span>
	        </div>
    	</div>
    	
    <div class="query-box">
        <div class="query-block"><span class="text">区域</span><i class="icon"></i></div>
        <div class="query-block"><span class="text">面积</span><i class="icon"></i></div>
        <div class="query-block"><span class="text">单价</span><i class="icon"></i></div>
        <div class="query-block"><span class="text">更多</span><i class="icon"></i></div>
        <div class="query-price"></div>
    </div>
    <article>
       <section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
        <section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
        <section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
		<section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
        <section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
        <section class="block-box">
            <div class="img-box"></div>
            <div class="aixin"></div>
            <div class="info-box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag-box"><span>商务中心</span></div>
                <div class="info-price"><span><em>&yen;7</em></span><span>元/平米/天起</span><span>佣金：一个月</span></div>
            </div>
        </section>
	 </article>
	 

	 <div class="down-box">
              <div class="tanchu04">
       	<div class="tan-left">
       		<div class="ditie" dataid="quyu01">全部</div>
	       	<div class="ditie" dataid="quyu02">闵行</div>
	       	<div class="ditie" dataid="quyu03">浦东</div>
	       	<div class="ditie" dataid="quyu04">嘉定</div>
	       	<div class="ditie" dataid="quyu05">宝山</div>
	       	<div class="ditie" dataid="quyu06">闸北</div>
	       	<div class="ditie" dataid="quyu07">松江</div>
	       	<div class="ditie" dataid="quyu08">青浦</div>
	       	<div class="ditie" dataid="quyu09">徐汇</div>
	       	<div class="ditie" dataid="quyu10">普陀</div>
	    </div>
       	<div class="tan-right">
       		<div class="gengduo" id="quyu01">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
       		
       		<div class="gengduo" id="quyu02">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
       		
       		<div class="gengduo" id="quyu03">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu04">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu05">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu06">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu07">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu08">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu09">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	       	<div class="gengduo" id="quyu10">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">八佰伴</div>
	       		<div class="luxian">川沙</div>
	       		<div class="luxian">花木</div>
	       		<div class="luxian">金桥</div>
	       	</div>
	  	</div>
       	
       </div>
       <div class="touming02"></div>
    </div>
    <div class="down-box">
       	<div class="tanchu02">
        		<div class="quyu">全部</div>
            	<div class="quyu">100m²以下</div>
            	<div class="quyu">100m-200²</div>
            	<div class="quyu">200m-300²</div>
            	<div class="quyu">300m-500²</div>
            	<div class="quyu">500m-1000²</div>
            	<div class="quyu"></div>
            	<div class="quyu-input">
            		<div><input type="text" /></div>
            		<div class="border"></div>
            		<div><input type="text" /></div>
            		<div class="queding">确定</div>
            	</div>
            </div>
            <div class="touming"></div>

    </div>
    <div class="down-box">
       		<div class="tanchu03">
        		<div class="danjia">全部</div>
            	<div class="danjia">3元/m²/天以下</div>
            	<div class="danjia">3-4元/m²/天以下</div>
            	<div class="danjia">4-5元/m²/天以下</div>
            	<div class="danjia">5-7元/m²/天以下</div>
            	<div class="danjia">7-9元/m²/天以下</div>
            	<div class="danjia">9-12元/m²/天以下</div>
            	<div class="danjia">12元/m²/天以下</div>
            	<div class="quyu-input">
            		<div><input type="text" /></div>
            		<div class="border"></div>
            		<div><input type="text" /></div>
            		<div class="queding">确定</div>
            	</div>
            </div>
            <div class="touming"></div>
       
    </div>
    <div class="down-box">
       <div class="tanchu04">
       	<div class="tan-left">
       		<div class="ditie" dataid="ditie01">地铁</div>
	       	<div class="ditie" dataid="ditie02">房型</div>
	       	<div class="ditie" dataid="ditie03">装修</div>
       	</div>
       	<div class="tan-right">
       		<div class="gengduo" id="ditie01">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">一号线</div>
	       		<div class="luxian">二号线</div>
	       		<div class="luxian">三号线</div>
	       		<div class="luxian">四号线</div>
	       		<div class="luxian">五号线</div>
	       		<div class="luxian">六号线</div>
	       		<div class="luxian">七号线</div>
	       		<div class="luxian">八号线</div>
	       		<div class="luxian">九号线</div>
	       		<div class="luxian">十号线</div>
       		</div>
       		
       		<div class="gengduo" id="ditie02">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">众创空间</div>
	       		<div class="luxian">商务中心</div>
	       		<div class="luxian">创意产业园</div>
	       		<div class="luxian">写字楼</div>
	       		<div class="luxian">工位</div>
	       		<div class="luxian">整栋</div>
	       		<div class="luxian">整层</div>
	       		<div class="luxian">厕所</div>
	       		<div class="luxian">仓库</div>
       		</div>
       		
       		<div class="gengduo" id="ditie03">
       			<div class="quanbu">全部</div>
	       		<div class="luxian">豪装</div>
	       		<div class="luxian">精装</div>
	       		<div class="luxian">简装</div>
	       		<div class="luxian">标准交付</div>
	       		<div class="luxian">毛坯</div>
	       	</div>
       	</div>
       	
       </div>
       <div class="touming02"></div>
    </div>

	<div class="heads02" style="display: none;">
		<span class="place-name02">上海</span>
		<div class="heades-box02"><input class="heades-input02" type="text" placeholder="挑好房,上二手房" /></div>
	</div>

	<div class="search-bg">
			<div class="search-head">
				<div class="search-box02">
					<input class="search-input02" type="text" placeholder="挑好房,上7手房" />
					<span class="search-quxiao">取消</span>
				</div>
			</div>
			<div class="search-txt">
					<div class="search-txt1">最近搜索</div>
					<div class="search-txt2">清除</div>
			</div>
			<div class="search-footer">
				<div class="search-footer1">创意产业园</div>
				<div class="search-footer1">陆家嘴</div>
			</div>
		</div>
	<div class="bottom-fixed">
			<div class="bottom shouye">
				<img src="../public/img/room-img/shouye2.png" alt="" />
				<div>首页</div>
			</div>
			<div class="bottom yuyue">
				<img src="../public/img/room-img/yuyue.png" alt="" />
				<div>预约</div>
			</div>
			<div class="bottom  bottom-jia">
				
			</div>
			<div class="bottom xinxi">
				<img src="../public/img/room-img/xinxi.png" alt="" />
				<div>信息</div>
			</div>
			<div class="bottom me">
				<img src="../public/img/room-img/me3.png" alt="" />
				<div>我</div>
			</div>
		</div>

		<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
		<script src="../public/js/index.js"></script>
		<script src="../public/libs/zepto/touch.js"></script>
	</body>
</html>
