* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #efeff4;
}
.heads02 {
  background-color: transparent;
  position: fixed;
  top: 0px;
  z-index: 6;
  height: 55px;
  width: 100%;
  background: #000;
  vertical-align: bottom;
}
.heads02:after {
  content: '';
  position: absolute;
  top: 30%;
  left: 13%;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../../../public/img/room-img/xia2.png") no-repeat center;
  background-size: 50%;
}
.place-name02 {
  font-size: 16px;
  color: #fff;
  font-family: "Terminal";
  display: block;
  margin-top: 18px;
  margin-left: 16px;
}
.heades-box02 {
  width: 80px;
  height: 30px;
  top: 15px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
.heades-box02:before {
  content: '';
  position: absolute;
  top: 12%;
  left: 5%;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../../../public/img/room-img/search.png") no-repeat center;
  background-size: 80%;
}
.heades-box02 .heades-input02 {
  border-radius: 4px;
  padding: 5px;
  padding-right: 40px;
  width: 150px;
  border: 0px;
  text-align: center;
}
