*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
	background-color transparent
	position absolute
	top 40px
	z-index 5
	width 100%
	
	&:after
		content ''
		position absolute
		top 50%
		margin-left 50px
		margin-top -18px
		width 30px
		height 30px
		display block
		background  url("../../../public/img/room-img/xia2.png") no-repeat left center
		background-size 48%

.place-name
  position absolute
  margin-left 15px
  top 60%
  margin-top -12px
  font-size: 16px
  color #fff
  font-family "Microsoft YaHei"
  	
.heads-title
  position: absolute
  left 50%
  margin-left -30px
  top 50%
  margin-top -12px
  font-size: 20px
  color #fff
  font-family "Microsoft YaHei"
 
 .search-box
	position absolute
	top 70px
	right 15px
	left 15px
	z-index 5
	.search-input
		height 30px
		border-radius 3px
		background-color #f1f1f1
		text-align center
		line-height 30px
		font-family "Microsoft YaHei"
		color #999
	.icon-search 
		display inline-block
		width 30px
		height 30px
		background url("../../../public/img/room-img/search.png") no-repeat center
		background-size 16px
		vertical-align bottom
	input
		border 0	
		background-color #f1f1f1
		padding 5px 0px 5px 5px
		font-family "Microsoft YaHei"
.banner
  width 100%
  height 320px
  overflow hidden
  .banner-box
    width 400%
    transition all .5s
    transform translateX(0)
    &:after
      content ''
      display block
      visibility hidden
      height 0
      clear both
.banner-img
  float left
  width 25%
  height 320px
  background url("../../../public/img/room-img/banner1.png") no-repeat center
  background-size 100%
  &:nth-child(2)
    background url("../../../public/img/room-img/banner2.png") no-repeat center
  &:nth-child(3)
    background url("../../../public/img/room-img/banner3.png") no-repeat center
  &:nth-child(4)
    background url("../../../public/img/room-img/banner4.png") no-repeat center

.point-box
  position absolute
  top 43%
  left 50%
  margin-left -24px
  z-index 5
  height 16px
  text-align center
  .point-block
    display inline-block
    width 16px
    height 16px
    background url("../../../public/img/room-img/dian1.png") no-repeat center
    background-size 10px
    &.active
      background url("../../../public/img/room-img/dian2.png") no-repeat center
      background-size 10px


      
.query-box
  display flex

  width 100%
  height 50px
  margin-top 10px
  background-color #fff
  border-bottom 1px solid #EBEBEE
  .query-block
  	
    flex 1
      
	.text
		display block
		text-align center
		height 30px
		font-family "Microsoft YaHei"
		font-size 16px
		margin-top 10px
		border-right 1px solid #EBEBEE
	.icon
		display block
		height 12px
		width 20px
		margin-left 30px
		margin-top -8px
		background  url("../../../public/img/room-img/xia.png") no-repeat  center
		background-size 100%
	
	&.active
		color #EA5404
		.icon
			background  url("../../../public/img/room-img/xia3.png") no-repeat  center
			background-size 0.7em
		
	.query-price
		width 50px
		height 50px
		background url("../../../public/img/room-img/mony.png") no-repeat center
		background-size 30px
		&.active-down
			background url("../../../public/img/room-img/mony01.png") no-repeat center
			background-size 30px
		&.active-up
			background url("../../../public/img/room-img/mony02.png") no-repeat center
			background-size 30px

article
	margin-top -10px

.block-box
	position relative
	display flex
	padding 15px
	margin-top 10px
	background-color #fff
	.aixin
		position absolute
		top 15%
		right 6%
		width 20px
		height 20px
		display block
		background  url("../../../public/img/room-img/aixin1.png") no-repeat center
		background-size 90%
  	

	.img-box
	    flex 3
	    background url("../../../public/img/room-img/banner5.png") no-repeat center
	    background-size 100%
  
.info-box
	flex 5
	margin-left 20px

.info-title    
	font-family "Microsoft YaHei"
	font-size 16px
	padding-bottom 5px

.info-address	
	font-family "Microsoft YaHei"
	font-size 14px
	color  #7E7E7E
	padding-bottom 5px
	
.down-box
  display: none	

.info-tag-box
	width 60px
	height 16px
	border-radius 4px
	border 1px solid #EB6021
	margin-left 10px
	span
		text-align center	
		color  #EB6021
		font-size 12px
		display block
		line-height 16px
.info-price
	margin-top 5px
	span
		display block
		float left
		color  #EB6021
		font-size 1em
		font-family arial
		&:nth-child(2)
			color  #7E7E7E
			float left
			margin-left 10px
			font-size 0.6em
			line-height 16px
		&:nth-child(3)
			color  #7E7E7E
			float left
			padding-left 30px
			font-size 0.6em
			line-height 16px
	

.heads02
	background-color transparent
	position fixed
	top 0px
	z-index 6
	height 55px
	width 100%
	background black
	vertical-align bottom
	
	&:after
		content ''
		position absolute
		top 30%
		left 13%
		width 20px
		height 20px
		display block
		background  url("../../../public/img/room-img/xia2.png") no-repeat center
		background-size 50%

.place-name02
  font-size: 16px
  color #fff
  font-family "Microsoft YaHei"
  display block
  margin-top 18px
  margin-left 16px

.heades-box02
	width 80px
	height 30px
	top 15px
	position absolute
	left 50%
	margin-left -80px
	&:before
			content ''
			position absolute
			top 12%
			left 5%
			width 20px
			height 20px
			display block
			background  url("../../../public/img/room-img/search.png") no-repeat center
			background-size 80%
	
	.heades-input02
		border-radius 4px
		padding 5px 
		padding-right 40px
		width 150px
		border 0px
		text-align center


	
	

.bottom-fixed
	position fixed
	z-index 6
	height 50px
	background #fff
	bottom 0px
	width 100%
	font-size 12px
	font-family "Microsoft YaHei"
	text-align center
	color #B5B5B5
	border-top 1px solid #E2E2E3
	
	img 
		width 28px
		margin-top 4px
	
.bottom
	float left
	margin-left 36px


.bottom-jia
	width 50px
	height 50px
	background url("../../../public/img/room-img/jiajia.png") no-repeat center
	background-size 100%


.tanchu02
	position absolute
	z-index 4
	height 50%
	top 426px
	width 100%
	background #EFEFF4
	
	
	.quyu
		line-height 48px
		text-align center
		font-family "Microsoft YaHei"

	

.quyu2
	line-height 48px
	text-align center
	font-family "Microsoft YaHei"
	background #fff		

.quyu-input
	margin-left 70px
	margin-top 10px
	input
		border 1px solid #E9EAEB 
		border-radius 6px
		width 70px
		height 30px
		float left
		margin 0px 10px
		
	.border
		width 25px
		height 1px
		border-bottom 1px solid #CFCFCF
		float left
		margin-top 15px 		 										
	
	.queding
		border 1px solid #E9EAEB 
		border-radius 6px
		background #fff
		width 50px
		height 30px
		float left
		margin-left 15px
		text-align center
		line-height 30px
		font-family "Microsoft YaHei"
		font-size 0.9em

.tanchu03
	position absolute
	z-index 4
	height 385px
	top 426px
	width 100%
	background #EFEFF4


		
.danjia
	line-height 40px
	font-size 16px
	text-align center
	font-family "Microsoft YaHei"

.danjia02
	line-height 40px
	text-align center
	font-family "Microsoft YaHei"
	background #fff		

.yincang
	display none
	
.touming
	position absolute
	z-index 3
	height 100%
	top 70%
	width 100%
	background rgba(0,0,0,0.5)

.tanchu04
	position absolute
	display flex
	z-index 4
	height 385px
	top 426px
	width 100%
	background #EFEFF4
	overflow hidden
	.tan-right
		flex 1
	
	.tan-left
		flex 1
		line-height 30px
		font-family "Microsoft YaHei"
		font-size 16px
		
		.ditie
			padding 5px 0px 5px 10px
		
		.ditie-atv
			background #fff
			
	.tan-right
		
		.gengduo
			font-family "Microsoft YaHei"
			font-size 16px
			line-height 30px
			display none
			background #fff
			.luxian
				border-bottom 1px solid #EEEEEE
				margin-left 10px
				padding 5px 0px 5px 0px
			.quanbu
				color #EA5404
				margin-left 10px
				padding 5px 0px 5px 0px
				border-bottom 1px solid #EEEEEE			
			
.touming02
	position absolute
	z-index 3
	height 100%
	top 70%
	width 100%
	background rgba(0,0,0,0.5)

.search-bg
	display none
	position absolute
	background #fff
	top 0px
	bottom 0px
	z-index 7
	width 100%
	&:after
		content ''
		position absolute
		top 3%
		left 7%
		width 20px
		height 20px
		display block
		background  url("../../../public/img/room-img/search.png") no-repeat center
		background-size 80%


.search-head
	width 100%
	
	.search-box02
		border-radius 6px
		width 80%
		height 50px
		
		.search-input02
			background #F1F1F1
			color #BFBFBF
			border-radius 6px
			padding 5px 
			padding 10px 60px 10px 0px
			width 75%
			font-family "SimHei"
			border 0px
			margin 10px 0px 0px 10px
			text-align center
		span
			position absolute
			right 5%
			top 3%
			font-family "SimHei"
			color #EA5404
.search-txt
	height 40px
	margin-top 10px
	width 100%
	background #EFEFF4
	
	.search-txt1
		font-size 16px
		font-family "SimHei"
		color #868687
		line-height 40px
		padding-left 20px
		float left	
	
	.search-txt2
		font-size 14px
		font-family "SimHei"
		color #868687
		line-height 40px
		padding-right 20px
		float right	
.search-footer
	margin-top 10px
	margin-left 15px
	.search-footer1
		font-size 18px
		font-family "SimHei"
		color #505050
		border-bottom 1px solid  #EBEBEB
		line-height 30px						
	
.aixin2
	position absolute
	top 15%
	right 6%
	width 20px
	height 20px
	display block
	background  url("../../../public/img/room-img/aixin2.png") no-repeat center
	background-size 90%
.shouye
	color #EA5404