*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
	position: relative
	background: #fff
	height: 65px
	border-bottom: 1px solid #E5E5EA
		
	&:after
		content ''
		position absolute
		top 50%
		right 5%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/shezhi.png") no-repeat right center
		background-size 100%
	
.heads span
  position: absolute
  left: 50%
  margin-left: -22px
  top: 50%
  margin-top -12px
  font-size: 22px
  color: #323232
  font-family: "SimHei"
  
 .box
	position relative
	padding-top 10px
	padding-bottom 5px
	height 120px
	margin-top 10px
	background #fff
 	
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 60%
 	
.me-img
	width 68px
	height 68px
	margin-left 3%
	border-radius 50%
	background url("../../../public/img/room-img/me.png") no-repeat left center
	background-size 100%
	float left

.clear
	clear both
	
.me-txt
	float left
	margin-left 10px	
	margin-top 15px
	

	
.userlogin
	font-size 18px
	font-family	"SimHei"
	color #383838	
	line-height 40px
	

		
.border-bottom
  border-bottom: 1px solid #EBEBEB
  margin-top 15px
 
.box2
	width 100%
  
.shoucang
	position relative
	width 49%
	font-size 14px
	font-family "Microsoft YaHei"	
	color #808080
	float left
	text-align center
	line-height 40px
	
	span
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838	
		
	
	&:after
		content ''
		position absolute
		right 0%
		top 10px
		height 20px
		width 1px
		background #ccc
	
.jifen
	position relative
	width 49%
	font-size 14px
	font-family "Microsoft YaHei"	
	color #808080
	float left
	text-align center
	line-height 40px
	
.xuqiu
	height 50px
	background #fff
	margin-top 15px
	position relative
	
	&:before
		content ''
		position absolute
		top 50%
		left 3%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/xuqiu.png") no-repeat right center
		background-size 100%
	span
		line-height 50px
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838
		margin-left 35px	
		  
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%
		
.fanyuan
	height 50px
	background #fff
	margin-top 15px
	position relative
	
	&:before
		content ''
		position absolute
		top 50%
		left 3%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/fanyuan.png") no-repeat right center
		background-size 100%
	span
		line-height 50px
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838
		margin-left 35px	
		  
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%

.fanyuan2
	height 50px
	background #fff
	margin-top 15px
	position relative
	
	&:before
		content ''
		position absolute
		top 50%
		left 3%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/fanyuan2.png") no-repeat right center
		background-size 100%
	span
		line-height 50px
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838
		margin-left 35px	
		  
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%	
		
.lishi
	height 50px
	background #fff
	margin-top 15px
	position relative
	
	&:before
		content ''
		position absolute
		top 50%
		left 3%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/lishi.png") no-repeat right center
		background-size 100%
	span
		line-height 50px
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838
		margin-left 35px	
		  
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%
		
.fanyuan3
	height 50px
	background #fff
	margin-top 15px
	position relative

	&:before
		content ''
		position absolute
		top 50%
		left 3%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/fanyuan3.png") no-repeat right center
		background-size 100%
	span
		line-height 50px
		font-size 16px
		font-family	"Microsoft YaHei"
		color #383838
		margin-left 35px	
		  
	&:after
		content ''
		position absolute
		top 25%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%

.footer
	position absolute
	height 50px
	background #fff
	bottom 0px
	width 100%
	font-size 12px
	font-family "Microsoft YaHei"
	text-align center
	color #B5B5B5
	
	
	img 
		width 28px
		margin-top 4px
	
.bottom
	float left
	margin-left 36px


.bottom-jia
	width 50px
	height 50px
	background url("../../../public/img/room-img/jiajia.png") no-repeat center
	background-size 100%	
						