*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
	position: relative
	background: #fff
	height 65px
	border-bottom: 1px solid #E5E5EA
	
	.after
		content ''
		position absolute
		top 50%
		left 5%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/return.png") no-repeat left center
		background-size 50%

	
.heads span
  position: absolute
  left 50%
  margin-left -66px
  top 50%
  margin-top -12px
  font-size: 22px
  color #323232
  font-family "SimHei"
  
.footer
	padding 12px 15px 0px 15px
	
	.box
		padding 10px 10px 10px 10px
		height 110px
		background #fff
		border-radius 6px
		border 1px solid #EBEBEE
		box-shadow -1px 1px 1px 2px #EBEBEE

		.border
			border 1px dashed #EBEBEE
			margin-top 10px
				
		.box-txt1
			font-size 16px
			color #323232
			font-family "SimHei"
			
			span
			 	color #9F9F9F
			 	font-size 14px
			 	font-family "SimHei"
			 	float right
		.box-txt2
			margin-top 10px
			font-size 14px
			color #323232
			font-family "SimHei"	
		
		.box-txt3
			margin 10px auto
			width 90px
			font-family "SimHei"
			font-size 14px
			height 22px
			border-radius 4px
			border 1px solid #E8E8EA	
			background #EFEFF4
			color #6A6A6B
			text-align center
			line-height 22px