*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
	position: relative
	background: #fff
	height: 65px
	border-bottom: 1px solid #E5E5EA
	
	.after
		content ''
		position absolute
		top 50%
		left 5%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/return.png") no-repeat left center
		background-size 50%
	
.heads span
  position: absolute
  left: 50%
  margin-left: -22px
  top: 50%
  margin-top -12px
  font-size: 22px
  color: #ED6C2B
  font-family: "SimHei"
  
.box
	position relative
	height 50px
	margin-top 10px
	background #fff
	line-height 50px
	font-size 18px
	border-bottom 1px solid #E8E9EB
	padding-left 10px
	color #484848
	font-family "SimHei"
 	
	&:after
		content ''
		position absolute
		top 20%
		right 5%
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/right1.png") no-repeat right center
		background-size 50%
		
.footer
	height 60px
	margin-top 20px
	background #fff
	line-height 60px
	text-align center
	font-size 18px
	border-bottom 1px solid #E8E9EB
	color #484848
	font-family "SimHei"	
	
#huancun
	text-align right
	font-size 14px
	float right
	margin-right 32px
	color #BDBDBD
	font-family "Microsoft YaHei"
			
 	
