*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
  position: relative
  background: #fff
  height: 65px
  border-bottom: 1px solid #E5E5EA

  .after
    content ''
    position absolute
    top 50%
    left 5%
    margin-top -15px
    width 20px
    height 30px
    display block
    background url("../../../public/img/room-img/return.png") no-repeat left center
    background-size 50%

.heads span
  position: absolute
  left: 50%
  margin-left: -33px
  top: 50%
  margin-top -12px
  font-size: 22px
  color: #ED6C2B
  font-family: "SimHei"

.txt
  color: #B6B6B7
  font-family: "Microsoft YaHei"
  height 35px
  font-size: 14px
  margin-left: 4%
  line-height: 35px

.box
  width: 100%
  height: 330px
  background: #fff

.touxiang1
  width: 100px
  padding-top 5px
  padding-bottom 5px
  border-bottom 1px solid #EFEFEF
  margin: 0 auto

.touxiang2
  width: 70px
  height: 70px
  border-radius: 50%
  background: #878787
  line-height: 70px
  text-align: center
  color: #F5F5F5
  font-size: 14px
  font-family: "Microsoft YaHei"
  margin: 5px auto

.box2
  width: 100%
  height: 80px
  background: #fff

.footer
  width: 90%
  margin-left: 5%

.login
  width: 100%
  line-height: 55px
  text-align: center
  font-family: "Microsoft YaHei"
  color: #FFFFFF
  font-size: 22px
  height: 55px
  background: #C7C7C7
  border-radius: 8px
  margin-top: 30px

#type-box
	margin 10px auto

.type
	color #B6B6B7
	font-family SimHei
	padding-left 2%
	width 60%
	height 28px
	display block
	border 1px solid #E8E8EA
	background #EFEFF4
	border-radius 4px
	margin 0 auto
	margin-bottom 5px

.box2
	padding-top 7px	
.img-box1
	width 120px
	height 70px
	border-radius 6px
	background #878787
	margin 0 auto
	text-align center
	line-height 70px
	color #fff
	font-size 14px
	font-family: "Microsoft YaHei"

.img-box2
	width 120px
	height 70px
	border-radius 6px
	background #878787
	margin 0 auto	
	text-align center
	line-height 70px
	color #fff
	font-size 14px
	font-family: "Microsoft YaHei"

.border-bottom
  border-bottom: 1px solid #EBEBEB
  margin-left: 5%
  width: 90%
.touxiang
  position absolute
  top  135px
  left 40%
  font-size: 20px
  width 35px
  opacity 0
.mingpian
  position absolute
  bottom  265px
  left 36%
  font-size: 25px
  width 100px
  opacity 0
.zhengshu
  position absolute
  bottom  140px
  left 36%
  font-size: 30px
  width 100px
  opacity 0
