*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
  position: relative
  background: #fff
  height: 65px
  border-bottom: 1px solid #E5E5EA

  .after
    content ''
    position absolute
    top 50%
    left 5%
    margin-top -15px
    width 20px
    height 30px
    display block
    background url("../../../public/img/room-img/return.png") no-repeat left center
    background-size 50%

.heads span
  position: absolute
  left: 50%
  margin-left: -22px
  top: 50%
  margin-top -12px
  font-size: 22px
  color: #ED6C2B
  font-family: "SimHei"