*
	padding 0px
	margin 0px

body
	background #EFEFF4

.heads
	z-index 1
	width 100%
	height 65px
	position fixed
	top 0
	background #fff
	border-bottom 1px solid #E3E3E8
	
	.box
		list-style none
		display flex
		width 70%
		margin 0 auto
		height 25px
		
		border 1px solid #EA5404
		border-radius 6px
		margin-top 25px
		
		.news
			flex 1
			font-size 14px
			border-right 1px solid #EA5404
			color #EA5404
			text-align center
			line-height 25px
		
		.active
			background  #EA5404
			color #fff
		.demand
			border 0px
			
			
.otext
	padding 0px 15px 0px 15px
	margin-top 80px
	
	
	.obox
		padding 10px 10px 10px 10px
		position relative
		height 110px
		margin-top 10px
		background #fff
		border-radius 6px
		border 1px solid #EBEBEE
		box-shadow -1px 1px 1px 2px #EBEBEE

		.box-txt1
			font-size 14px
			color #323232
			font-family "SimHei"
			
				
			
		.border
			border-bottom 1px solid #EBEBEE
			margin-top 10px
		
		.box-txt2
			text-indent 2em
			margin-top 10px
			font-size 12px
			color #7B7B7B
			font-family "SimHei"
			text-indent	
		
		.riqi
			position absolute
			right 10px
			top 70%
			color #9F9F9F
		 	font-size 12px
		 	font-family "SimHei"
			
.zuhu
	width 60px
	height 20px
	color #fff
	font-size 12px
	border-radius 4px
	line-height 20px
	background #15B755
	text-align center
	float right

.jjr
	background-color #0193E6

.zaos
	background-color #97B715

.daili
	background-color #EA5404				 	

.riqi2
	float right
	color #9F9F9F
	font-size 12px
	font-family "SimHei"

.dizhi
	color #727272
	font-size 12px
	line-height 50px	

.box-txt3
	margin 10px auto
	width 90px
	font-family "SimHei"
	font-size 14px
	height 22px
	border-radius 4px
	border 1px solid #E8E8EA	
	background #EFEFF4
	color #6A6A6B
	text-align center
	line-height 22px		

.bottom-fixed
	position fixed
	height 50px
	background #fff
	bottom 0px
	width 100%
	display flex
	font-size 12px
	font-family "Microsoft YaHei"
	text-align center
	color #B5B5B5
	line-height 17px
	border-top 1px solid #E2E2E3
	
	img 
		width 28px
		margin-top 4px
	
.bottom
	
	float left
	flex 1


.bottom-jia
	width 50px
	height 50px
	background url("../../../public/img/room-img/jiajia.png") no-repeat center
	background-size 60%
	
.xinxi
	color #EA5404
.fb-bg
	display none
	z-index 5
	position absolute
	top 0px
	bottom 0px
	width: 100%
	background rgba(0,0,0,0.9)
	.push-left
		width 80px
		height 110px
		position absolute
		bottom  15%
		left 20%
		.fbxq
			width 80px
			height 80px
			border-radius 50%
			background url("../../../public/img/room-img/fbxq.png") no-repeat center
			background-size 120%
	.fb-txt
		color #fff
		text-align center
		margin-top 5px
		font-family "Microsoft YaHei"
		font-size 16px
	.push-right
		width 80px
		height 110px
		position absolute
		bottom  15%
		left 60%
		.fbfy
			width 80px
			height 80px
			border-radius 50%
			background url("../../../public/img/room-img/fbfy.png") no-repeat center
			background-size 120%
	.push-x
		width 20px
		height 20px
		position absolute
		bottom 10px
		background url("../../../public/img/room-img/fbx.png") no-repeat center
		background-size 100%
		left: 50%
		margin-left -10px