*
  padding: 0px
  margin: 0px

body
	background: #EFEFF4

.heads
	position: relative
	background: #fff
	height 65px
	border-bottom: 1px solid #E5E5EA
	
	&:after
		content ''
		position absolute
		top 50%
		left 5%
		margin-top -15px
		width 20px
		height 30px
		display block
		background url("../../../public/img/room-img/return.png") no-repeat left center
		background-size 50%

	
.heads span
	position: absolute
	left 50%
	margin-left -44px
	top 50%
	margin-top -12px
	font-size: 22px
	color #323232
	font-family "SimHei"
  
.ybg-txt
	font-family "SimHei"
	font-size 16px
	padding 10px
	color #B4B4B4
.y-box
	height 60px
	padding 4px 0px 4px 15px 
	background #fff
	border-bottom: 1px solid #E5E5EA
	position relative
	&:after
		content ''
		position absolute
		top 55%
		right 5%
		margin-top -15px
		width 24px
		height 24px
		display block
		background url("../../../public/img/room-img/dianhua.png") no-repeat left center
		background-size 100%
	.y-img
		width 55px
		height 55px
		border-radius 50%
		margin-left 15px
		margin-left 5px
		background url("../../../public/img/room-img/touxiang.png") no-repeat 0px 4px
		background-size 90%
		float left	
	
	.y-name
		margin-left 5px
		width 80%
		border-right 1px solid #E5E5EA 
		
		
		.y-id
			font-family "SimHei"
			font-size 18px
			margin-top 10px
		
		.y-type
			font-family "Microsoft YaHei"
			font-size 14px
			color #696969

.y-box2
	height 70px
	padding 4px 0px 4px 15px 
	background #fff
	font-size 18px
	border-bottom: 1px solid #E5E5EA
	font-family "SimHei"
	.y-txt01
		margin-top 5px
		
	.y-txt02
		display flex
		font-family "SimHei"
		font-size 18px
		margin-top 5px
		
		.txt1
			flex 1
			font-family "Microsoft YaHei"
			font-size 14px
			color #696969	
.y-box3
	height 40px
	padding 4px 0px 4px 15px 
	line-height 40px
	background #fff
	font-size 18px
	border-bottom: 1px solid #E5E5EA
	font-family "SimHei"

.jiedan
	margin-left 5%
	width: 90%
	line-height: 55px
	text-align: center
	font-family: "Microsoft YaHei"
	color: #FFFFFF
	font-size: 22px
	height: 55px
	background: #EA5404
	border-radius: 8px
	margin-top: 40px								