*
  padding: 0px
  margin: 0px

body
  background: #EFEFF4

.heads
	position: relative
	background: #fff
	height 65px
	border-bottom: 1px solid #E5E5EA
	

.heads span
  position: absolute
  left 50%
  margin-left -22px
  top 50%
  margin-top -12px
  font-size: 22px
  color #323232
  font-family "SimHei"

.box
	width 100%
	height 112px
	position relative
	margin-top 10px
.yuyue-box
	position absolute
	z-index 5
	padding 12px 0px 20px 10px
	background #fff
	display flex
	transition all 0.4s	
	&.active
		margin-left -130px
		transition all 0.4s	
	.yuyue-img
		flex 1
		background url("../../../public/img/room-img/yuyueimg.png") no-repeat center
		background-size 100%
		border-radius 6px
	.yuyue-txt
		flex 2
		.txt
			margin-left 10px
			overflow hidden
			width 220px
			.name
				font-size 14px
				font-family "SimHei"
				float left
			.riqi
				font-size 0.8em
				font-family "SimHei"
				text-align right
				color #C5C5C5
		.txt2
			margin-left 10px
			margin-top 10px
			text-indent 1em
			font-size 14px
			font-family "SimHei"
			color #383838
		.txt3
			margin-top 5px
			text-indent 1em
			font-size 13px
			font-family "SimHei"
			color #FF9F38
	.jiedan
		position absolute
		width 50px
		height 24px
		background #EA5404
		border-radius 4px
		text-align center
		line-height 24px
		font-family "SimHei"
		color #FF9F38
		right 20px
		top 80px
		color #fff
		font-size 14px
	.jiedan2
		position absolute
		display none
		border-radius 4px
		text-align center
		line-height 20px
		font-family "SimHei"
		right 20px
		top 80px
		font-size 14px
		color #4D4D4D
	

.shanchu
	position absolute
	height 109px
	top 0px
	right 0px
	z-index 1
	width 80px
	background-color 	#FF3B30
	line-height 100px
	color #fff
	text-align center
	font-family "SimHei"
	font-size 16px

.bottom-fixed
	position fixed
	z-index 5
	height 50px
	background #fff
	bottom 0px
	width 100%
	font-size 12px
	font-family "Microsoft YaHei"
	text-align center
	color #B5B5B5
	border-top 1px solid #E2E2E3
	
	img 
		width 28px
		margin-top 4px
	
.bottom
	
	float left
	margin-left 36px


.bottom-jia
	width 50px
	height 50px
	background url("../../../public/img/room-img/jiajia.png") no-repeat center
	background-size 100% 	
.yuyues
	color #EA5405