<html>
	<head>
		<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width,initial-scale=1,
					maximum-scale=1,user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/news.css"/>
		<link rel="stylesheet" href="//cdn.bootcss.com/zepto/1.2.0/zepto.js" />
	</head>
	<body>
		<div class="heads">
			<ul class="box">
				<li class="news active" dataid="new01">消息</li>
				<li class="news notice" dataid="new02">需求</li>
				<li class="news demand" dataid="new03">通知</li>
			</ul>
			
		</div>
		
		<div class="otext" id="new01">
			<div class="obox">
				<div class="box-txt1">你眼中“醉美滨江夜”摄影征集启动啦！</div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="riqi">08/04/13:06</div>
			</div>
			
			<div class="obox">
				<div class="box-txt1">你眼中“醉美滨江夜”摄影征集启动啦！</div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="riqi">08/04/13:06</div>
			</div>
			
			<div class="obox">
				<div class="box-txt1">你眼中“醉美滨江夜”摄影征集启动啦！</div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="riqi">08/04/13:06</div>
			</div>
			
			<div class="obox">
				<div class="box-txt1">你眼中“醉美滨江夜”摄影征集启动啦！</div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="riqi">08/04/13:06</div>
			</div>
			
			<div class="obox">
				<div class="box-txt1">你眼中“醉美滨江夜”摄影征集启动啦！</div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="riqi">08/04/13:06</div>
			</div>
		</div>
		
		<div class="otext " id="new02">
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="riqi2">08/04/13:06</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="dizhi">地址：徐汇-龙华 科技大厦</div>
			</div>
			
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="riqi2">08/04/13:06</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="dizhi">地址：徐汇-龙华 科技大厦</div>
			</div>
			
			
		</div>
		
		<div class="otext" id="new03">
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="zuhu">租户</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>	
				<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="zuhu jjr">经纪人</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
			
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="zuhu zaos">招商</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
			
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="zuhu daili">代理商</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
			
			<div class="obox">
				<div class="box-txt1">一个新的租房需求<span class="zuhu">租户</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
			
			

		</div>
		
		<div class="bottom-fixed">
			<div class="bottom">
				<img src="../../../public/img/room-img/shouye.png" alt="" />
				<div>首页</div>
			</div>
			<div class="bottom">
				<img src="../../../public/img/room-img/yuyue.png" alt="" />
				<div>预约</div>
			</div>
			<div class="bottom  bottom-jia">
				
			</div>
			<div class="bottom">
				<img src="../../../public/img/room-img/xinxi2.png" alt="" />
				<div>信息</div>
			</div>
			<div class="bottom">
				<img src="../../../public/img/room-img/me3.png" alt="" />
				<div>我</div>
			</div>
		</div>
		<script src="../../../public/js/news.js"></script>
	</body>

</html>
