* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #efeff4;
}
.heads {
  position: relative;
  background: #fff;
  height: 65px;
  border-bottom: 1px solid #e5e5ea;
}
.heads:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -15px;
  width: 20px;
  height: 30px;
  display: block;
  background: url("../../../public/img/room-img/return.png") no-repeat left center;
  background-size: 50%;
}
.heads span {
  position: absolute;
  left: 50%;
  margin-left: -22px;
  top: 50%;
  margin-top: -12px;
  font-size: 22px;
  color: #ed6c2b;
  font-family: "SimHei";
}
.userps {
  background: #fff;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5ea;
  border-top: 1px solid #e5e5ea;
}
.userps .userid {
  width: 20px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5%;
  float: left;
  background: url("../../../public/img/room-img/id.png") no-repeat center;
  background-size: 100%;
}
.userps .userkey {
  width: 20px;
  height: 40px;
  margin-left: 5%;
  float: left;
  background: url("../../../public/img/room-img/key.png") no-repeat center;
  background-size: 75%;
}
.userps .userpassword {
  width: 20px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5%;
  float: left;
  background: url("../../../public/img/room-img/password.png") no-repeat center;
  background-size: 85%;
}
.userps .usertype {
  width: 20px;
  height: 30px;
  margin-top: 8px;
  margin-left: 5%;
  float: left;
  background: url("../../../public/img/room-img/position.png") no-repeat center;
  background-size: 100%;
}
.userps input {
  margin-left: 5px;
  height: 45px;
  border: 0px;
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.userps-txt {
  height: 45px;
  margin-left: 5%;
  float: left;
  line-height: 45px;
  font-family: "SimHei";
  font-size: 16px;
}
.footer {
  width: 90%;
  margin-left: 5%;
  position: relative;
}
.login {
  width: 100%;
  line-height: 55px;
  text-align: center;
  font-family: "Microsoft YaHei";
  color: #fff;
  font-size: 22px;
  height: 55px;
  background: #c7c7c7;
  border-radius: 8px;
  margin-top: 40px;
}
.txt {
  margin-left: 50px;
  margin-top: 20px;
}
.txt {
  position: absolute;
  left: 50%;
  margin-left: -119px;
}
.txt span {
  color: #828284;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.txt a {
  color: #ed6c2b;
  text-decoration: none;
  border-bottom: 1px solid #ed6c2b;
}
#yz-box {
  position: relative;
}
#yzm {
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 5%;
  height: 25px;
  border-radius: 6px;
  background: #ed6c2b;
  top: 20%;
  color: #f5eeea;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
#shenfen {
  position: relative;
}
#shenfen:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -15px;
  width: 22px;
  height: 34px;
  display: block;
  background: url("../../../public/img/room-img/xia.png") no-repeat center;
  background-size: 140%;
}
.border-bottom {
  border-bottom: 1px solid #ebebeb;
  margin-left: 5%;
  width: 90%;
}
