* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #f5eeea;
}
.img {
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -55px;
  width: 110px;
  height: 100px;
  background: url("../../../public/img/room-img/login01.PNG") no-repeat center;
}
.p {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -64px;
  text-align: center;
  color: #787676;
  font-family: "微软雅黑";
}
