* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #efeff4;
}
.heads {
  height: 66px;
  padding: 0px 10px;
  display: flex;
  background: #fff;
  border-bottom: 1px solid #e3e3e8;
}
.heads .quxiao {
  flex: 1;
  line-height: 80px;
  height: 60px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  float: left;
}
.heads .heads-txt {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  width: 120px;
  height: 60px;
  line-height: 80px;
  text-align: center;
}
.heads .fabu {
  flex: 1;
  font-size: 16px;
  color: #ed7139;
  font-family: "Microsoft YaHei";
  line-height: 80px;
  height: 60px;
  text-align: right;
}
.fb-bg {
  width: 80%;
  margin: 0 auto;
}
.fb-bg .name {
  width: 95%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e3e3e8;
  padding-left: 10px;
  margin-top: 20px;
  color: #bfbfbf;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.fb-bg .tel {
  width: 95%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e3e3e8;
  padding-left: 10px;
  margin-top: 20px;
  color: #bfbfbf;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.fb-bg .miaosu {
  width: 92%;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #eda27c;
  padding: 10px;
  margin-top: 20px;
  color: #bfbfbf;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.tan-bg {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.4);
  display: none;
}
.tan-bg .tan-box {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -60px;
  width: 250px;
  height: 120px;
  border-radius: 16px;
  background: #fff;
}
.tan-bg .tan-box .tan-top {
  height: 70px;
  border-bottom: 1px solid #ebebee;
  line-height: 70px;
  text-align: center;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.tan-bg .tan-box .tan-bottom {
  display: flex;
}
.tan-bg .tan-box .tan-bottom .tan-txt {
  height: 100%;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  flex: 1;
  color: #7e7e7e;
  border-right: 1px solid #ebebee;
}
.tan-bg .tan-box .tan-bottom .queding {
  border-right: 0px;
  color: #ec6425;
}
.tan-bg .tan-box2 {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -60px;
  width: 250px;
  height: 120px;
  border-radius: 16px;
  background: #fff;
}
.tan-bg .tan-box2 .tan-top2 {
  height: 70px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  border-bottom: 1px solid #ebebee;
  text-align: center;
  line-height: 60px;
}
.tan-bg .tan-box2 .tan-bottom2 {
  line-height: 50px;
text-center
  font-family: "Microsoft YaHei";
  color: #eb5b13;
  text-align: center;
  font-size: 18px;
}
