<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/login04.css"/>			
	<title></title>

	</head>
	<body>
		<div class="heads">
			<!--返回图标	-->
			
			<span>忘记密码</span>
		</div>
		
		<!--更改密码部分-->
		<div class="userps">
			<div>
				<div class="userid"></div>
				<div class="userps-txt">账号:</div>
				<input type="text" placeholder="请输入您的手机号" />
			</div>
			<div class="border-bottom"></div>
			<div id="yz-box">
				<div class="userkey"></div>
				<div class="userps-txt">账号:</div>
				<input type="text" placeholder="请输入您的验证码" />
				<div id="yzm">获取验证码</div>
			</div>
			<div class="border-bottom"></div>
			<div>
				<div class="userpassword"></div>
				<div class="userps-txt">密码:</div>
				<input type="text" placeholder="请输入新的登录密码" />
			</div>
			<div class="border-bottom"></div>
			<div>
			<div class="userpassword"></div>
				<div class="userps-txt">密码:</div>
				<input type="text" placeholder="请输入新的登录密码" />
			</div>
		</div>
		
		<!--尾部-->
		<div class="footer">
			<div class="login">确定</div>
			<div>
		</div>
	</body>
</html>
