<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/login/login06.css"/>
    <title></title>
</head>
<body>
        <!--头部-->
        <div class="heads">
            <div class="after"></div>
            <span>登录</span>
        </div>

    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="../../../public/js/login06.js"></script>
    <script src="../../../public/libs/zepto/touch.js"></script>
</body>
</html>