<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/login05.css"/>			
		<title></title>

	</head>
	<body>
		<div class="heads">
			<span>经纪人</span>
		</div>
		
		<!--必填项-->
		<div class="txt">必填项</div>
		<div class="box">
			<div class="touxiang1">
				<div class="touxiang2">添加头像</div>
			</div>
			<div id="type-box">
				<input class="type" placeholder="姓名" type="text" />
				<input class="type" type="text" />
				<input class="type" type="text" />
				<input class="type" type="text" />
			</div>
			
			<div class="img-box1">名片正面</div>
			
		</div>
		<div class="txt">选填项</div>
		<div class="box2">
			<div class="img-box2">全国经纪人证书</div>
		</div>
		
		<div class="footer">
			<div class="login">完成</div>
		</div>
	</body>
</html>
