<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
		<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">		
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/yuyue03.css"/>
		<title>好来窝 - 杭州摆摆网络科技有限公司</title>
	</head>
	<body>
		<!--头部-->
		<div class="heads">
			<span class="quxiao">取消</span>
			<span class="heads-txt">预约改期</span>
			<span class="ok">确定</span>
		</div>
		<div class="ybg-txt">预约人</div>
		<div class="y-box">
			<div class="y-img"></div>
			<div class="y-name">
				<div class="y-id">你才是张三</div>
				<div class="y-type">租户</div>
			</div>
			<div class="dianhua-img"></div>
		</div>	
		<div class="ybg-txt">预约信息</div>
		<div class="y-box2">
			<div class="y-txt01">华胥国际大厦</div>
			<div class="y-txt02">
				<div class="txt1">区域：黄埔-人民广场<br />面积：766m²</div>
				<div class="txt1">房型：商务中心<br />单价：￥5.5/m²/天起</div>
			</div>
		</div>	
		<div class="ybg-txt">预约时间</div>
		<div class="y-box3">2016-08-08</div>
		<div class="ybg-txt">预约状态</div>
		<div class="y-box4">
			<div class="txt2">
				<div class="yuyue01">
					<div class="riqi1">08/10</div>
					<div class="riqi2">周三</div>
				</div>
				<div class="yuyue02">订单成功</div>
			</div>
		</div>
		<div class="ybg-txt">更改预约时间</div>
		<div class="y-box5">
			<div class="nono"></div>
			<input class="ggsj" type="text" placeholder="2016/08/08" />
		</div>
		<footer class="footer">
			<div class="bottom-txt gaiqi">改期</div>
			<div class="bottom-txt">达成</div>
			<div class="bottom-txt bottom-txt2">取消</div>
		</footer>
		<div class="tan-bg">
			<div class="tan-box">
				<div class="tan-top">预约只能更改一次，请和客户确认</div>
				<div class="tan-bottom">
					<div class="tan-txt tan-qx">取消</div>
					<div class="tan-txt queding">确定</div>
				</div>
			</div>
			<div class="tan-box2">
				<div class="tan-top2">时间修改成功，记得准时赴约哦</div>
				<div class="tan-bottom2">确定</div>
			</div>
		</div>





		<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
		<script src="../../../public/js/yuyue03.js"></script>
		<script src="../../../public/libs/zepto/touch.js"></script>
	</body>
</html>
