<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务
    范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/login/Release02.css"/>
    <title>好来窝 - 杭州摆摆网络科技有限公司</title>
</head>
<body>
      <div class="heads">
          <div class="quxiao">取消</div>
          <div class="heads-txt">发布</div>
      </div>
      <div class="search-bg">
         <div class="search-box">

             <input class="search" type="search">
             <div class="after"></div>
         </div>
          <span class="search-txt">新增楼盘</span>
      </div>
      <div class="room-bg">
          <div class="room-head">大厦信息<div class="dian"></div></div>

          <div class="room-box">
             <div class="room-type">商圈:</div>
             <div class="room-txt">浦东-八佰伴</div>
          </div>
          <div class="room-box">
              <div class="room-type">物业:</div>
              <div class="room-txt">上海浦江物业有限公司</div>
          </div>
          <div class="room-box">
              <div class="room-type">层数:</div>
              <div class="room-txt">23层</div>
          </div>
          <div class="room-box">
              <div class="room-type">层高:</div>
              <div class="room-txt">标准4.5米，净高2.75米，大堂14.5米</div>
          </div>
          <div class="room-box">
              <div class="room-type">车位:</div>
              <div class="room-txt">地上30个，地下400个，1250元/月</div>
          </div>
          <div class="room-box">
              <div class="room-type">电梯:</div>
              <div class="room-txt">客梯8部，货梯2部，三菱电梯</div>
          </div>
          <div class="room-box">
              <div class="room-type">空调:</div>
              <div class="room-txt">集中式中央空调</div>
          </div>
          <div class="room-box">
              <div class="room-type room-type2">入驻企业:</div>
              <div class="room-txt">顺诚商业地产(房地产/建筑)、大大集团</div>
          </div>
          <div class="room-box">
              <div class="room-type">地体:</div>
              <div class="room-txt">距离世纪大道站步行7分钟</div>
          </div>
      </div>
      <div class="room-bg room-bg2">
          <div class="room-head">房源信息<div class="dian2"></div></div>
          <div class="room-box2">
              <div class="room-type">请选择发布房源的属性</div>
              <div class="radio_box">
                  <div class="radio_block selected"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>整层</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>整栋</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>众创空间</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>商务中心</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>创意产业园</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>写字楼</span></div>
                  <div class="radio_block"><span class="radio_btn"><i class="icon">&nbsp;</i></span><span>工位</span></div>
              </div>
              <div class="border"></div>
          </div>
      </div>
      <div class="fabu-bg">
          <div class="fabu">确认发布</div>
      </div>
    <script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
    <script src="../../../public/js/Release02.js"></script>
    <script src="../../../public/libs/zepto/touch.js"></script>
</body>
</html>