<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/logging05.css"/>			
		<title></title>
	</head>
	<body>
		<!--头部-->
		<div class="heads">
			<span>个人资料</span>
		</div>
		
		<div class="ziliao">
			<div class="user-img"></div>
			<div class="user-id">呱呱呱叫</div>
			<div class="user-txt">以前喜欢一个人，现在喜欢一个人</div>
			<div class="bianji-txt">编辑个人资料</div>
		</div>
		
		<div class="ziliao2">
			<div class="gonsi">所属公司<span>普旌地产</span></div>
			<div class="haoma">联系方式<span>18956095463</span></div>
			<div class="quanzi">擅长商圈<span>浦东-八佰伴</span></div>
			
			<div class="bottom">
				<div class="footer">
					<div class="box"></div>
					<div class="box-txt">名片正面</div>
				</div>
				
				<div class="footer">
					<div class="box"></div>
					<div class="box-txt">全国经纪人证书</div>
				</div>
				
				<div class="footer">
					
				</div>
			
			</div>
		</div>
	</body>
</html>
