<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/logging04.css"/>			
		<title></title>
	</head>
	<body>
		<!--头部-->
		<div class="heads">
			<span>关于</span>
		</div>
		
		<div class="img01"></div>
		<div class="img02"></div>
		<div id="banben">v1.1.0</div>
		
		<div class="box box2">电话<span id="haoma">123-456789</span></div>
		<div class="box">服务条款</div>
		
		<div class="footer"><div class="footer-txt">©2016&nbsp;&nbsp;All&nbsp;&nbsp;Rights&nbsp;&nbsp;Reserved</div></div>
	</body>
</html>