<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width,initial-scale=1,
					maximum-scale=1,user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/logging07.css"/>	
		<title></title>
	</head>
	<body>
		<!--头部-->
		<div class="heads">
			<span>房源</span>
		</div>
		
		<div class="nav">
				<div class="shoucang">需求</div>
				<div class="jifen">房源</div>
		</div>
		
		<div class="footer">
			<div class="box">
				<div class="box-txt1">一个新的租房需求<span class="zuhu">租户</span></div>
				<div class="border"></div>
				<div class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
			
			<div class="box">
				<div class="box-txt1">一个新的租房需求<span class="jjr">经纪人</span></div>
				<div class="border"></div>
				<p class="box-txt2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
				<div class="box-txt3">了解详情</div><span class="riqi">08/04/13:06</span>
			</div>
		</div>
	</body>
</html>
