<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
					maximum-scale=1,user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="../../../public/css/login/logging03.css"/>			
		<title></title>
	</head>
	<body>
		<!--头部-->
		<div class="heads">
			<span>设置</span>
		</div>
		<div class="box">接收需求</div>
		<div class="box">关于</div>
		<div class="box">清除缓存<span id="huancun">7.02M</span></div>
		
		<div class="footer">退出登录</div>
	</body>
</html>
